# Force GitHub to ignore all TypeScript, config mapping, and JavaScript files to make Python the dominant language
*.ts linguist-vendored
*.tsx linguist-vendored
*.js linguist-vendored
*.mjs linguist-vendored
frontend/** linguist-vendored
package-lock.json linguist-vendored
